/* Color Theme Swatches in Hex */ 
.background { color: #92b7ce; }
.principal { color: rgb(15, 7, 1); }
.destaque { color: #bf2424; }

@media screen and (max-width: 768px){
    .desing-selection {
        position: static;
        width: 100%;
    }
    .explanation {
        border-right: none;       
        width: 100%;
    }
    #zen-intro {
        height: auto;
    }
    .participation {
        flex-direction: column;
    }
}
p {
    text-indent: 0;
} 

@media print {
    html {
        font-family: 'Times News Roman', Time, serif 
    }
    #zen-intro header {
         background-color: #92b7ce;
         color: rgb(15, 7, 1);
        }          
    }                
A { 
    color: #f80000 ;
}
A:hover {
    color: #f5f120;
}
.main p:first-of-type:first-letter {
    font-size: 2em;
    font-family:'Times New Roman', Times, serif; 
}

.desing-selection li {
    border-top: rgb(15, 7, 1) solid 1px;
    padding-top: 5px;   
}

.desing-selection li:last-of-type {
    border-bottom: rgb(15, 7, 1) solid 1px;
    padding-bottom: 3px;    
}
.participation {
    display: flex;
    border-top: rgb(15, 7, 1) solid 1px;
}
.participation h3 {
    flex-basis: 50%;     
}
.participation h3 {
    align-self: center;
}

.supporting footer {
    display: flex ;
    justify-content: space-evenly;
}

.benefits p {
    flex-basis: 70%;
}

.benefits {
    display: flex;
    border-top: rgb(15, 7, 1) solid 1px;
    border-bottom: rgb(15, 7, 1) solid 1px;
}
.benefits h3 {
    order: 2;
    align-self: center;
    flex-basis: 20%;
}
.page-wrapper {
    position: relative;
}

.explanation {
    width: 60%;
    margin-right: 35%;
    border-right: rgb(15, 7, 1) solid 1px;
    padding-right: 2%;
}

.design-selection {
    position: absolute;
    top: 380px;
    left: 62%;
    padding-left: 1%;
    padding-right: 1%;
}
.main footer { 
    margin: 4%;
}

.main footer a { 
 border: solid 2px;
 padding: 0.5em;
 display: inline-block;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin: 2em;
    text-align: center;

}

.peger-wrapper {
    width: 80%;
    max-width: 1280 px;
    margin: auto;
}
#zen-intro {
    height: 550 px;
}
#design-archives {
    display: none;
}
#zen-intro header {
    background-color: #BF2424 ;
    color: #fafcfd;
}

#zen-intro header h1, #zen-intro header h2 {
    display: inline-block
}
#zen-intro header h1 {
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

html {
    background:#f0f1f1;
    color:#BF2424;
    
    font-size: 18px;
    font-family: Helvetica, sans-serif;  
}
p {
    text-indent: 1rem;    
}
h1, h2, h3 {
    text-align: center;
}
h1 {
    font-size: 1.8rem;
}
h2 {font-size: 1.4rem;
}
h3 {font-size: 1.2rem;
}
.summary {text-align: right;} 
.main p {line-height: 1.5;}
abbr {font-variant: small-caps;}
